name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Qt
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          qt6-base-dev \
          qt6-base-dev-tools \
          qt6-tools-dev \
          libxkbcommon-dev \
          liblgpio-dev
      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --parallel

      - name: Test
        run: ctest --test-dir build --output-on-failure
